#page-5bd99396aa4a9938caf017be {
  width: 600px;
  position: absolute;
  bottom: 50px;
  left: 70px;

  #block-a4c0e534a4b6df92535e {
    padding: 0;
    margin: 0;
    width: 100%;
  }
}

#headshots {
  background: #000;
}
