#page-5bd99396aa4a9938caf017be {
  width: 600px;
  position: absolute;
  bottom: 50px;
  left: 70px; }
  #page-5bd99396aa4a9938caf017be #block-a4c0e534a4b6df92535e {
    padding: 0;
    margin: 0;
    width: 100%; }

#headshots {
  background: url("https://static1.squarespace.com/static/5bd987149d5abbd8c3790ba8/t/5beaa9f6758d463b0101fa89/1542105591011/bege.jpg") top center;
  background-size: cover; }
